@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');

:root{
    --ff-landing-title-bebas: 'Bebas Neue', cursive;
    --ff-landing-title-oxanium: 'Oxanium', cursive;
    --ff-landing-title-orbitron: 'Orbitron', sans-serif;
    --ff-body-palandquin: 'Palanquin', sans-serif;
    --ff-body-poppins: 'Poppins', sans-serif;
    --ff-body-saira: 'Saira Semi Condensed', sans-serif;
    --ff-fancy-body-bad-script: 'Bad Script', cursive;
    --ff-fancy-body-courgette: 'Courgette', cursive;
    --ff-fancy-body-title: 'Cookie', cursive;

    --primary-color: #eeeee4;
    --primary-bg-color: #091F47;
    --hover-effect-color: rgb(180, 164, 164);
}

@mixin position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin vertical-position-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin transition-in-x{
    transform: translateX(0vw);
    transition: transform ease-in-out 1000ms;
}

@mixin transition-out-x{
    transform: translateX(100vw);
    transition: transform ease-in-out 1000ms;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me-section{
    min-height: calc(100vh - 70px);
    width: 100%;
    color: white;
    position: relative;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
}

.contact-me__head{
    min-height: 200px;
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: transform 1500ms ease-in-out, opacity 1500ms ease-in-out;
    h1{
        font-family: var(--ff-landing-title-orbitron);
        font-size: 6rem;
    }
}

.social-media{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.social-media__icon{
    @include flex-center;
    justify-content: space-evenly;
    z-index: 1;
    
}

.social-img{
    width: 2rem;
    height: 2rem;
    transition: transform 500ms ease-in-out;
    border-radius: 50%;
    background-color: gray;
    margin: 0 10px;
}

.social-img.day{
    background-color: #ececec;
    border: 1px solid black;
}

.social-img-github{
    padding: 2px;
    padding: 1.2px;
}

.social-img:hover{
    transform: scale(1.1);
}

.contact-me__head.show{
    opacity: 1;
    transform: scale(1);
}

.contact-me__head__outer{
    @include flex-center;
}

.contact-me__content{
    width: 100%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 0;
    transform: translateY(4rem);
    transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
    h3{
        font-family: var(--ff-body-poppins);
        font-weight: 200;
        font-size: 1rem;
        text-align: center;
    }

    p{
        font-size: 1rem;
        padding: 0 0 1rem 0;
    }
}

.contact-me__content.show{
    opacity: 1;
    transform: translateY(0rem);
}

.contact-me__head-h2{
    font-family: var(--ff-fancy-body-bad-script);
    font-size: 3rem;
    margin-right: -2rem;
}

.waving-emoji{
    cursor: pointer;
    // background-color: white;
    display: inline;
    height: 100px;
    width: auto;
    margin-left: -1px;
    transition: transform ease-in-out 500ms;
    font-size: 4rem;
    z-index: -1;
    margin-top: -1.5rem;
}

.lines{
    width: 400px;
    height: 5px;
    border-radius: 1px;
    display: block;
    background-color: gray;
    @include vertical-position-center;
    transform: rotate(90deg);
}

.lines.day{
    background-color: black;
}


.line-1{
    left: 50%;
}

.line-2{
    right: 50%;
}

.send-mail{
    padding: 10px 25px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 7.5px;
    font-family: var(--ff-landing-title-oxanium);
    font-weight: 500;
    font-size: 1.05rem;
    background-color: transparent;
    color: white;
    transition: border 750ms ease-in-out, color 750ms ease-in-out;
}

.send-mail:hover{
    border: 1px solid var(--hover-effect-color);
    color: var(--hover-effect-color);
}

.view-resume{
    height: 100px;
    @include flex-center;
    a{
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 7.5px;
        border: 1px solid var(--hover-effect-color);
        border: 1px solid var(--primary-color);
        color: var(--hover-effect-color);
        color: white;
        transition: border 750ms ease-in-out, color 750ms ease-in-out;
        font-size: 0.85rem;
    }
}

.send-mail.day{
    background-color: black;
    color: color;
}

.view-resume.day{
    a{
        background-color: black;
        color: white;
    }
}

.view-resume a:hover{
    border: 1px solid var(--hover-effect-color);
    color: var(--hover-effect-color);
}


footer {
    background-color: black;
    // background-color: red;
    // min-height: 45px;
    height: 50px;
    color: #fff;
    padding: 20px;
    text-align: center;
    @include flex-center;
    font-family: var(--ff-fancy-body-bad-script);
    color: gray;
    text-shadow: 0.5px 0.5px 0px #CCC;
    .copyright{
        font-size: 0.75rem;
    }
}

.footer.day{
    background-color: black;
}

.finger-down{
    opacity: 0;
    animation: fade-in-out 2000ms ease-in-out infinite;
}


.finger-down.fade-in{
    opacity: 1;
}

.finger-down.fade-out{
    opacity: 0;
}

@keyframes fade-in-out{
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    50%{
        opacity: 1;
        transform: translateY(15px);
    }
    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}

.sub-heading.day{
    color: black;
    font-weight: bolder;
}

@media only screen and (min-width: 600px){
    header{
        background-color: red;
    }

    .view-resume{
        a{
            padding: 10px 35px;
            border-radius: 7.5px;
            font-size: 1.1rem;
        }
    }

    .send-mail{
        padding: 10px 20px;
        border: 1px solid var(--primary-color);
        border-radius: 7.5px;
        font-size: 1.25rem;
        width: 200px;
    }
    
    .social-media__icon{
        @include flex-center;
        height: 4.5rem;
        min-width: 50px;
    }

    .social-img{
        width: 2.2rem;
        height: 2.2rem;
    }
      
    .social-img-github{
        padding: 1.5px;
    }

    .contact-me-section{
        min-height: calc(100vh - 70px);
    }

    .line-1{
        left: 60%;
    }
    
    .line-2{
        right: 60%;
    }   
    
}

@media only screen and (min-width: 900px){
    header{
        background-color: green;
    }

    .contact-me__content{
        width: 60%;
        h3{
            font-size: 1.25rem;
        }

        p{
            font-size: 1.5rem;
        }
    }

    .social-img{
        width: 3rem;
        height: 3rem;
        margin: 0 10px;
    }

    .line-1{
        left: 70%;
    }
    
    .line-2{
        right: 70%;
    }
    .contact-me__head-h2{
        margin-right: -1rem;
    }

    .contact-me-section{
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 1200px){
    header{
        background-color: purple;
    }

    .contact-me__content{
        width: 100%;
        h3{
            font-size: 1.4rem;
        }

        p{
            font-size: 2rem;
        }
    }

    .contact-me__head-h2{
        margin-right: -1rem;
    }

    .contact-me-section{
        margin-top: 5rem;
    }
}