@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');

:root{

    // --ff-landing-title-bebas: 'Bebas Neue', cursive;
    // --ff-body-palandquin: 'Palanquin', sans-serif;
    // --ff-body-poppins: 'Poppins', sans-serif;
    // --ff-body-saira: 'Saira Semi Condensed', sans-serif;
    // --ff-fancy-body-courgette: 'Courgette', cursive;
    // --ff-fancy-body-title: 'Cookie', cursive;
    // --ff-landing-title-oxanium: 'Oxanium', cursive;
    // --primary-bg-color: #091F47;
    // --gray-color: gray;




    --landing-height: calc(45vh - 100px);
    --hover-effect-color: rgb(180, 164, 164);
    --primary-color: #eeeee4;    
    --ff-landing-title-orbitron: 'Orbitron', sans-serif;
    --ff-fancy-body-bad-script: 'Bad Script', cursive;
}

@mixin position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin vertical-position-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin transition-in-x{
    transform: translateX(0vw);
    transition: transform ease-in-out 1000ms;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    background-color: black;
}

.container{
    overflow: hidden;
}

header{
    background-color: black;
}

header.day{
    background-color: #9e3636;
    background-color: #CCC;

    ul li a{
        color: black;
        border: 1.5px solid black;
    }

    ul li a:hover,
    ul li a:active,
    ul li a:focus{
        color: #9e3636;
        color: #574f4f;
        // border: 1.5px solid #9e3636;
        border: 1.5px solid #574f4f;
        // border: 1.5px solid #fff;
    }
}

.landing-container{
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    z-index: 1;
    order: 1;
}

.landing{
    height: var(--landing-height);
    width: 100%;
    @include flex-center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.landing.day{
    background-color: white;
}

.landing-project{
    top: calc(45vh - 100px);
    width: 100%;
    height: 55vh;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    color: white;
    position: relative;
    h3{
        font-family: var(--ff-landing-title-orbitron);
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    p{
        font-family: var(--ff-fancy-body-bad-script);
        font-weight: 600;
        font-size: 0.8rem;
    }
}

.landing-project::before, 
.landing-project::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px; 
  height: 1.5px; 
  background-color: gray; 
  z-index: 3;
  opacity: 0;
}

.landing-project::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.landing-project::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.landing-project::before{
  animation: show-after-before 2s 16s forwards;
}

.landing-project::after{
    animation: show-after-before 2s 16s forwards;
  }

@keyframes show-after-before {
  to {
    opacity: 1;
  }
}



.top-left,
.top-right,
.bottom-left,
.bottom-right{
    padding: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: gray;
    // transition: background-color ease-in-out 750ms, color ease-in-out 750ms, transform ease-in-out 750ms, opacity ease-in-out 3000ms;
    transition: transform ease-in-out 750ms, opacity ease-in-out 3000ms;
    flex-direction: column;
    opacity: 0;
}

.finger-direction{
    display: inline-block;
}

.top-left{
    grid-area: 1/1;
}

.top-right{
    grid-area: 1/2;
}

.bottom-left{
    grid-area: 2/1;
}

.bottom-right{
    grid-area: 2/2;
}

.top-left:hover,
.top-right:hover,
.bottom-left:hover,
.bottom-right:hover{
    color: rgb(190, 189, 189);
    transform: scale(1.015);
}

.top-left.day,
.top-right.day,
.bottom-left.day,
.bottom-right.day{
    background-color: white;
    color: black;
}

.landing-photo{
    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: bottom;
}

.landing-img-container{
    top: 0;
    height: 55vh;
}

header {
    z-index: 2;
    background-color: black;
    height: 100px;
    line-height: 100px;
    color: var(--primary-color);
    font-family: var(--ff-landing-title-orbitron);
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    width: 100%;
}

header.fixed{
    position: fixed;
}

.landing-container.fixed{
    margin-top: 100px;
}

.container-nav{
    height: 100px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.logo-container{
    img{
        @include vertical-position-center;
        height: 40px;
        background: transparent;
        z-index: 200;
    }
}

.letter{ 
    height: inherit;
    width: calc(100vw - 15px);
    position: relative;
    color: white;
    color: black;
    font-family: var(--ff-landing-title-orbitron);
    text-transform: uppercase;
    font-size: 10rem;
    text-shadow: 0px 0px 40px red;
    font-weight: 800;
    text-transform: uppercase;
    @include flex-center;
    @include position-center;
    z-index: 2;

    .o{
        position: inherit;
        z-index: 3;
    }

    .d{
        position: inherit;
        z-index: 3;
    }

    .w{
        position: inherit;
        z-index: 2;
    } 
}


.write-up{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 10px red;
    text-transform: lowercase;
    font-family: var(--ff-landing-title-orbitron);
    font-weight: 800;
    z-index: 2;
    @include position-center;
    opacity: 0;
    
    h3{
        font-size: 3rem;
        letter-spacing: -8px;
        text-indent: -8px;
        line-height: 3rem;
    }

    h1{
        font-size: 5rem;
        letter-spacing: -7px;
        text-indent: -7px;
        line-height: 4.5rem;
    }
}

.write-up.resize{
    position: static;
}

header nav{
    transform: translateX(calc(100vw + 100px));
    transition: transform ease-in-out 500ms;
}
  
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
  
header nav ul li {
    margin: 0 7px;
}

header nav ul li:last-child{
    margin-right:50px;
}

header nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 7.5px;
    transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
    color: var(--primary-color);
}

header nav ul li a{
    color: white;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active{
    color: var(--hover-effect-color);
    border: 1px solid var(--hover-effect-color);
    border-color: var(--hover-effect-color);
}

.day-and-dark-mode{
    @include vertical-position-center;
    display: inline;
    right: calc(2.5% + 20px);
    transition: right ease-in-out 500ms;
    z-index: 10;
    border-radius: 50%;

    .fa-sharp.fa-solid{
        @include position-center;
    }

    .fa-moon,
    .fa-sun{
        outline: none;
        cursor: pointer;
        color: #eeeee4;
        transition: color ease-in-out 500ms;
    }

    .fa-moon:hover,
    .fa-sun:hover{
        color: gray;
    }

}

.fa-moon.hide{
    display: none;
}

.fa-sun{
    display: none;
}

.fa-sun.active{
    display: block;
}

.fa-sun.active.day{
    color: black;
}

.mobile-menu-button-container{
    margin: 0 auto;
    float: right;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.mobile-menu-button{
    height: 40px;
    width: 42px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 6.5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(0vw);
    transition: transform ease-in-out 750ms, background-color ease-in-out 750ms;
    z-index: 200;

    .bars{
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: black;
        transition: background-color 750ms ease-in-out;
    }
}

.mobile-menu-button:hover{
    background-color: #CCC;
    transition: background-color ease-in-out 750ms;
}


.write-up-inside-mobile-menu{
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    z-index: -2;
    width: calc(100vh - 110px);
    width: 100%;
    color: rgba(128, 128, 128, 0.5);
    
    h3{
        font-size: 4.5rem;
        letter-spacing: -6px;
        text-indent: -6px;
        margin-top: -4.5rem;
        margin-top: -2.25rem;
    }

    h1{
        font-size: 9rem;
        letter-spacing: -8px;
        text-indent: -8px;
    }
}

.write-up-inside-mobile-menu-h{
    text-align: center;
    width: calc(100vh - 110px);
    @include position-center;
    transform: translate(-50%, -50%) rotate(-90deg);
    
}

.mobile-menu{
    top: 100px;
    right: 0;
    position: fixed;
    height: calc(100vh - 100px);
    width: 90%;
    border: 1.5px solid gray;
    background-color: black;
    transition: transform 1000ms ease-in-out;
    z-index: 3;
    
    ul{
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        li a{
            padding: 2vh 10vw;
            padding-bottom: calc(2vh + 2px);
            font-size: 1.2rem;
            color: #eeeee4;
        }
    }
}

.mobile-menu.active{
    top: 100px;
    right: 0;
    position: fixed;
    height: calc(100vh - 100px);
    width: 90%;
    background-color: black;
    transform: translateX(0vw);
    transition: transform 500ms ease-in-out;
    z-index: 3;
    
    ul{
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        li a{
            padding: 2vh 10vw;
            padding-bottom: calc(2vh + 2px);
        }
    }
}

.mobile-menu.active ul li:last-child{
    margin-right: 0;
}

.mobile-menu ul li:last-child{
    margin-right: 0;
} 

.mobile-menu.day{
    background-color: var(--primary-bg-color);
    background-color: #CCC;
    // border: 1.5px solid var(--primary-bg-color);
    a{
        color: black;
        border-color: black;
    }

}






.skill-sets{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.skill-sets__img{
    display: flex;
    justify-content: space-between;
    height: 50px;
    height: auto;
    align-content: flex-end;
    min-width: 160px;
}

.skill-sets__img img{
    display: flex;
    align-self: center;
    height: auto;
    width: 25px;
    border-bottom: 1px solid white;
    padding: 5px;
    border-radius: 6px;
}




// footer,
// .footer{
//     z-index: 1;
// }






@media only screen and (min-width: 600px){
    header{
        z-index: 2;
    }
    .container-nav{
        width: 95%;
        width: 90%;
    }
    .write-up-inside-mobile-menu{
        justify-content: space-evenly;
    }

    header nav ul li:last-child{
        margin-right: calc(2.5% + 50px);
    }
    

    /* ======================= LANDING PAGE ============================== */

    .landing-container{
        height: calc(100vh - 100px);
        width: 100%;
        // @include flex-center;
        position: relative;
        background-color: black;
        z-index: 1;
    }
    
    .landing{
        height: calc(100vh - 100px);
        width: 35vw;
        @include flex-center;
        transform: translateX(-100%);
        z-index: 1;
        left: 0;
        position: absolute;
    }
    
    .landing-photo{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: bottom;
    }
    
    .landing-img-container{
        top: 0;
        width: 65vw;
        height: 100%;
    }
    
    .write-up{
        z-index: 2;
        width: calc(100vh - 110px);
        @include flex-center;
        flex-direction: column;
        opacity: 0;
    
        h3{
            font-size: 3rem;
            letter-spacing: -8px;
            text-indent: -8px;
            line-height: 3rem;
        }
    
        h1{
            font-size: 5rem;
            letter-spacing: -10px;
            text-indent: -10px;
            line-height: 5rem;
        }
    }

    .landing-project{
        width: 65vw;
        height: 100%;
        // position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        top: 0;
        position: relative;
        z-index: 2;
        left: 35vw;
    }

    .landing-project::before, 
    .landing-project::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100px; 
    
    }

    .landing-project::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .landing-project::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .skill-sets__img{
        display: flex;
        justify-content: space-between;
        height: 50px;
        height: auto;
        align-content: flex-end;
        min-width: 170px;
    }


}

@media only screen and (min-width: 900px){
    .write-up{
        opacity: 0;
        @include position-center;
        h3{
            font-size: 4rem;
            line-height: 4rem;
        }
    
        h1{
            font-size: 7.5rem;
            line-height: 7rem;
        }
    }

    header nav{
        @include transition-in-x;
    }
    
    .container-nav{
        width: 90%;
    }

    header nav ul li:last-child{
        margin-right: 50px;
    }

    .mobile-menu-button{
        transform: translateX(100vw);
        transition: transform ease-in-out 500ms;
    }

    .mobile-menu,
    .mobile-menu.active{
        transform: translateX(100vw);
        transition: transform 500ms ease-in-out;
    }

    .mobile-menu-button-container{
        z-index: -1;
    }   

    .skill-sets__img{
        display: flex;
        justify-content: space-between;
        height: 50px;
        height: auto;
        align-content: flex-end;
        min-width: 240px;
    }
    
    .skill-sets__img img{
        display: flex;
        align-self: center;
        height: auto;
        width: 35px;
        padding: 5px;
        border-radius: 10px;
    }

    .skill-sets__img img:nth-child(1){
        padding: 9.5px 5px;
    }
    
    .skill-sets__img img:nth-child(5){
        padding: 6.6px 5px;
    }
    
    .skill-sets__img img:nth-child(4){
        padding: 5.5px 5px;
    }

    .landing-project{
        h3{
            font-size: 1.2rem;
        }

        p{
            font-size: 1.1rem;
        }
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right{
        padding: 12%;    
    }

    .landing-project::before, 
    .landing-project::after {
    content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 140px; 
        
    }

    .landing-project::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .landing-project::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
}

@media only screen and (min-width: 1200px){
    .container-nav{
        width: 90%;
    }

    header nav ul li:last-child{
        margin-right: 50px;
    }  
    
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right{
        padding: 20%;    
    }

    .landing-project::before, 
    .landing-project::after {
    content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 180px; 
        
    }

    .landing-project::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .landing-project::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}