 @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');

:root{
    --ff-landing-title-bebas: 'Bebas Neue', cursive;
    --ff-landing-title-oxanium: 'Oxanium', cursive;
    --ff-landing-title-orbitron: 'Orbitron', sans-serif;
    --ff-body-palandquin: 'Palanquin', sans-serif;
    --ff-body-poppins: 'Poppins', sans-serif;
    --ff-body-saira: 'Saira Semi Condensed', sans-serif;
    --ff-fancy-body-bad-script: 'Bad Script', cursive;
    --ff-fancy-body-courgette: 'Courgette', cursive;
    --ff-fancy-body-title: 'Cookie', cursive;

    --primary-color: #eeeee4;
    --primary-bg-color: #091F47;
    --hover-effect-color: rgb(180, 164, 164);
    --gray-color: gray;
    // --gray-color: #eeeee4;
}

@mixin position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin vertical-position-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin transition-in-x{
    transform: translateX(0vw);
    transition: transform ease-in-out 1000ms;
}

@mixin transition-out-x{
    transform: translateX(100vw);
    transition: transform ease-in-out 1000ms;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
}

.container{
    overflow: hidden;
}

.landing-container{
    height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    width: 100%;
    @include flex-center;
    flex-direction: column;
    position: relative;
    background-color: white;
    z-index: -1;
}

.landing{
    height: calc(45vh - 100px);
    width: 35vw;
    width: 100vw;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    background-color: purple;
    transform: translateX(-100%);
    z-index: 1;
}

.landing-photo{
    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: bottom;
}

.landing-img-container{
    top: 0;
    height: 100%;
    height: 55vh;
}

.landing-img{
    width: 100%;
    height: 55vh;
    position: absolute;
    right: 0;
    background-color: pink;
    opacity: 1;
    z-index: -1;
}

.inside-landing-img{
    position: absolute;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 55vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transition: transform ease-in-out 750ms;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right{
    z-index: 999;
    height: 100%;
    width: 100%;
    font-family: var(--ff-landing-title-oxanium);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 138, 138);
}

.top-left:hover{
    background-color: red;
}

.top-left{
    transform: translateY(-50%);
    transform: translateY(0%);
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: 1.5px solid var(--gray-color);
    border-right: 1.5px solid var(--gray-color);
}

.top-right{
    transform: translateX(50%);
    transform: translateX(0%);
    grid-column: 2/2;
    grid-row: 1/2;
    border-bottom: 1.5px solid var(--gray-color);
    border-left: 1.5px solid var(--gray-color);
}

.bottom-left{
    transform: translateX(-50%);
    transform: translateX(0%);
    grid-column: 2/1;
    grid-row: 2/2;
    border-right: 1.5px solid var(--gray-color);
    border-top: 1.5px solid var(--gray-color);
}

.bottom-right{
    transform: translateY(50%);
    transform: translateY(0%);
    grid-column: 2/2;
    grid-row: 2/2;
    flex-direction: column;
    border-top: 1.5px solid var(--gray-color);
    border-left: 1.5px solid var(--gray-color);
}

.skill-sets{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.skill-sets__img{
    display: flex;
    justify-content: space-between;
    height: 50px;
    height: auto;
    align-content: flex-end;
    // border: 2px solid white;
    min-width: 160px;
}

.skill-sets__img img{
    display: flex;
    align-self: center;
    height: auto;
    width: 25px;
    border-bottom: 1px solid white;
    // border-left: 1px solid white;
    padding: 5px;
    border-radius: 6px;
}

#quadrant-1-inside{
    background-color: red;
}

#quadrant-1-inside:hover{
    background-color: cyan;
}

.quadrant{
    // background-color: #091F47;
    min-width: 120px;
    height: 200px;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    // display: none;

    h3{
        margin-bottom: 10px;
        font-size: 1.4rem;
    }

    p{
        text-align: center;
    }
}

.quadrant:hover{
    position: relative;
    background-color: red;
}
  
header {
    background-color: black;
    height: 100px;
    line-height: 100px;
    color: var(--primary-color);
    font-family: var(--ff-landing-title-orbitron);
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
}

.container-nav{
    height: 100px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.logo-container{
    background: transparent;

    img{
        @include vertical-position-center;
        height: 40px;
        background: transparent;
        z-index: 200;
    }
}

.letter{ 
    border: 5px solid blue;
    height: inherit;
    width: 100%;
    width: calc(100vw - 15px);
    position: relative;
    color: white;
    color: black;
    font-family: var(--ff-landing-title-orbitron);
    text-transform: uppercase;
    font-size: 10rem;
    text-shadow: 0px 0px 40px red;
    font-weight: 800;
    text-transform: uppercase;
    @include flex-center;
    @include position-center;
    z-index: 2;

    .o{
        position: inherit;
        z-index: 3;
    }

    .d{
        position: inherit;
        z-index: 3;
    }

    .w{
        position: inherit;
        z-index: 2;
    }
    
}


.write-up{
    color: var(--primary-color);
    color: black;
    text-shadow: 1px 1px 10px #999;
    text-shadow: 1px 1px 10px red;
    line-height: 60px;
    @include position-center;
    text-transform: lowercase;
    font-family: var(--ff-landing-title-orbitron);
    font-weight: 800;
    z-index: 2;
    border: 2px solid red;
    margin-top: 15px;
    @include flex-center;
    flex-direction: column;
    align-items: center;
    // transition: transform ease-in-out 750ms;

    h3{
        margin-top: -20px;
        margin-left: -9px;
        font-size: 3rem;
        letter-spacing: -8px;
    }

    h1{
        margin-left: -7px;
        font-size: 5.5rem;
        letter-spacing: -7px;
    }
}

.write-up.transition{
    transition: transform 750ms ease-in-out;
    // transition: transform 750ms ease-in-out -100ms;
}

.write-up-2{
    position: absolute;
    text-align: center;
    color: gray;
    color: rgb(179, 176, 176);
    font-family: var(--ff-landing-title-orbitron);
    line-height: 50px;
    z-index: 2;
    right: 20px;
    top: -20%;

    h1{
        font-size: 5.5rem;
    }

    h3{
        font-size: 2.5rem;
    }
}

header nav{
    // transform: translateX(300vw);
    transform: translateX(100vw);
    // transition: transform ease-in-out 1000ms;
    transition: transform ease-in-out 500ms;
}
  
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
  
header nav ul li {
    margin: 0 7px;
}

header nav ul li:last-child{
    margin-right:50px;
}

header nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 7.5px;
    transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
    color: var(--primary-color);
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active{
    color: var(--hover-effect-color);
    border: 1px solid var(--hover-effect-color);
    border-color: var(--hover-effect-color);
}

.day-and-dark-mode{
    @include vertical-position-center;
    display: inline;
    right: calc(2.5% + 20px);
    transition: right ease-in-out 500ms;
    z-index: 10;
    border-radius: 50%;

    .fa-sharp.fa-solid{
        @include position-center;
    }

    .fa-moon,
    .fa-sun{
        outline: none;
        cursor: pointer;
        color: #eeeee4;
        transition: color ease-in-out 500ms;
    }

    .fa-moon:hover,
    .fa-sun:hover{
        color: gray;
    }

}

.fa-moon.hide{
    display: none;
}

.fa-sun{
    display: none;
}

.fa-sun.active{
    display: block;
}

.mobile-menu-button-container{
    margin: 0 auto;
    float: right;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.mobile-menu-button{
    height: 40px;
    width: 42px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 4px 6.5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(0vw);
    // transition: transform ease-in-out 1000ms, background-color ease-in-out 750ms;
    transition: transform ease-in-out 500ms, background-color ease-in-out 500ms;
    z-index: 200;

    .bars{
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: var(--primary-bg-color);
        background-color: black;
        transition: background-color 750ms ease-in-out;
    }
}

.mobile-menu-button:hover{
    background-color: var(--primary-bg-color);
    background-color: black;

    .bars{
        background-color: var(--primary-color);
    }
}

.write-up-inside-mobile-menu{
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    line-height: 70px;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    height: inherit;
    background: transparent;
    transform: rotate(-90deg);
    text-align: center;
    z-index: -2;
    width: 90%;
    color: rgba(238, 238, 228, 0.4);
    
    h3{
        margin-top: -4rem;
        font-size: 3rem;
        margin-bottom: 2rem; 
    }

    h1{
        font-size: 5.5rem;
        margin-top: 2rem;
    }

}

.mobile-menu{
    top: 100px;
    top: 0;
    right: 0;
    position: fixed;
    height: calc(100vh - 100px);
    height: 100vh;
    width: 90%;
    width: 90%;
    background-color: var(--primary-bg-color);
    background-color: black;
    transition: transform 1000ms ease-in-out;
    
    ul{
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        li a{
            padding: 4vh 10vw;
        }
    }
}

.mobile-menu.active{
    top: 100px;
    top: 0;
    right: 0;
    position: fixed;
    height: calc(100vh - 100px);
    height: 100vh;
    width: 90%;
    background-color: var(--primary-bg-color);
    background-color: black;
    transform: translateX(0vw);
    // transition: transform 1000ms ease-in-out;
    transition: transform 500ms ease-in-out;
    z-index: 3;
    
    ul{
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        li a{
            padding: 4vh 10vw;
        }
    }
}

.mobile-menu.active ul li:last-child{
    margin-right: 0;
}

.mobile-menu ul li:last-child{
    margin-right: 0;
}  

.projects-container{
    width: 95%;
    margin: 0 auto;
    // border: 2px solid red;
}

.paragraphs.day{
    color: black;
    font-weight: 300;
}

@media only screen and (min-width: 600px){
    header{
        background-color: red;
    }
    .container-nav{
        width: 95%;
        width: 90%;
    }
    .write-up-inside-mobile-menu{
        justify-content: space-evenly;
    }

    header nav ul li:last-child{
        margin-right: calc(2.5% + 50px);
    }
    

    /* ======================= LANDING PAGE ============================== */

    .landing-container{
        height: calc(100vh - 100px);
        width: 100%;
        @include flex-center;
        position: relative;
        background-color: var(--primary-bg-color);
        background-color: green;
        z-index: -1;
    }
    
    .landing{
        height: calc(100vh - 100px);
        width: 35vw;
        @include flex-center;
        text-align: center;
        text-transform: uppercase;
        background-color: black;
        background-color: red;
        border: 5px solid black;
        transform: translateX(-100%);
        z-index: 1;
    }
    
    .landing-photo{
        height: 100%;
        width: 100%;
        position: absolute;
        position: fixed;
        top: 0;
        right: 0;
        object-fit: cover;
        object-position: bottom;
    }
    
    .landing-img-container{
        top: 0;
        width: 65vw;
        height: 100%;
    }
    
    .landing-img{
        width: 65vw;
        height: 100%;
        position: absolute;
        right: 0;
        background-color: red;
        opacity: 1;
        z-index: -1;
    }
    
    .inside-landing-img{
        border: 10px solid purple;
        position: absolute;
        right: 0;
        z-index: 0;
        height: 100%;
        height: calc(100vh - 100px);
        width: 65%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        justify-content: center;
        align-items: center;
        @include vertical-position-center();
        z-index: 1;
        transition: transform ease-in-out 750ms;
    }
    
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right{
        height: 100%;
        width: 100%;
        font-family: var(--ff-landing-title-oxanium);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(138, 138, 138);
    }
    
    .top-left:hover{
        background-color: red;
    }
    
    .top-left{
        transform: translateY(-50%);
        transform: translateY(0%);
        grid-column: 1/2;
        grid-row: 1/2;
        border-bottom: 1.5px solid var(--gray-color);
        border-right: 1.5px solid var(--gray-color);
    }
    
    .top-right{
        transform: translateX(50%);
        transform: translateX(0%);
        grid-column: 2/2;
        grid-row: 1/2;
        border-bottom: 1.5px solid var(--gray-color);
        border-left: 1.5px solid var(--gray-color);
    }
    
    .bottom-left{
        transform: translateX(-50%);
        transform: translateX(0%);
        grid-column: 2/1;
        grid-row: 2/2;
        border-right: 1.5px solid var(--gray-color);
        border-top: 1.5px solid var(--gray-color);
    }
    
    .bottom-right{
        transform: translateY(50%);
        transform: translateY(0%);
        grid-column: 2/2;
        grid-row: 2/2;
        flex-direction: column;
        border-top: 1.5px solid var(--gray-color);
        border-left: 1.5px solid var(--gray-color);
    }
    
    .skill-sets{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    
    .skill-sets__img{
        display: flex;
        justify-content: space-between;
        height: 50px;
        height: auto;
        align-content: flex-end;
        // border: 2px solid red;
        min-width: 170px;
    }
    
    .skill-sets__img img{
        display: flex;
        align-self: center;
        height: auto;
        width: 28px;
        padding: 5px;
        border-radius: 5px;
    }
    
    .skill-sets__img img:nth-child(4){
        padding: 5.5px 5px;
    }
    
    
    .quadrant{
        // background-color: #091F47;
        width: 300px;
        width: 100%;
        height: 200px;
        height: 100%;
        padding: 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        h3{
            margin-bottom: 10px;
            font-size: 1.4rem;
        }
    
        p{
            text-align: center;
        }
    }
    
    .quadrant:hover{
        position: relative;
        background-color: red;
    }

    .write-up{
        color: var(--primary-color);
        color: black;
        text-shadow: 1px 1px 10px #999;
        text-shadow: 1px 1px 10px red;
        line-height: 80px;
        @include position-center;
        text-transform: lowercase;
        font-family: var(--ff-landing-title-orbitron);
        font-weight: 800;
        z-index: 2;
    
        h3{
            font-size: 4rem;
            letter-spacing: -8px;
        }
    
        h1{
            font-size: 7.5rem;
            letter-spacing: -10px;
        }
    }

}

@media only screen and (min-width: 900px){
    header{
        background-color: green;
    }

    header nav{
        @include transition-in-x;
    }
    
    .container-nav{
        width: 90%;
    }

    header nav ul li:last-child{
        margin-right: 50px;
    }

    .mobile-menu-button{
        // transform: translateX(calc(100vw + 1000px));
        transform: translateX(100vw);
        // transition: transform ease-in-out 1000ms;
        transition: transform ease-in-out 500ms;
    }

    .mobile-menu,
    .mobile-menu.active{
        // transform: translateX(calc(100vw + 1000px));
        transform: translateX(100vw);
        // transition: transform 1000ms ease-in-out;
        transition: transform 500ms ease-in-out;
    }

    .mobile-menu-button-container{
        z-index: -1;
    }   

    .skill-sets__img{
        display: flex;
        justify-content: space-between;
        height: 50px;
        height: auto;
        align-content: flex-end;
        border: 2px solid red;
        min-width: 240px;
    }
    
    .skill-sets__img img{
        display: flex;
        align-self: center;
        height: auto;
        width: 35px;
        padding: 5px;
        border-radius: 10px;
    }

    .skill-sets__img img:nth-child(1){
        padding: 9.5px 5px;
    }
    
    .skill-sets__img img:nth-child(5){
        padding: 6.6px 5px;
    }
    
    .skill-sets__img img:nth-child(4){
        padding: 5.5px 5px;
    }
    
}


@media only screen and (min-width: 1200px){
    header{
        background-color: purple;
    }

    .container-nav{
        width: 90%;
    }

    header nav ul li:last-child{
        margin-right: 50px;
    }    
}