@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --ff-landing-title-bebas: 'Bebas Neue', cursive;
  --ff-landing-title-oxanium: 'Oxanium', cursive;
  --ff-landing-title-orbitron: 'Orbitron', sans-serif;
  --ff-body-palandquin: 'Palanquin', sans-serif;
  --ff-body-poppins: 'Poppins', sans-serif;
  --ff-body-saira: 'Saira Semi Condensed', sans-serif;
  --ff-fancy-body-bad-script: 'Bad Script', cursive;
  --ff-fancy-body-courgette: 'Courgette', cursive;
  --ff-fancy-body-title: 'Cookie', cursive;
  --primary-color: #eeeee4;
  --primary-bg-color: #091F47;
  --hover-effect-color: rgb(180, 164, 164);
}

.about-me {
  min-height: 100vh;
  width: 95%;
  margin: 0 auto;
  padding: 0px;
}

.about-me__head {
  height: 30vh;
  width: 100%;
  position: relative;
  background-color: black;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__head h1 {
  font-family: var(--ff-landing-title-orbitron);
  font-size: 4rem;
  color: white;
}

.about-me__head.day {
  background-color: white;
}

.about-me__head.day h1 {
  color: var(--primary-bg-color);
}

.about-me__head-h1 {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out, -webkit-transform 1500ms linear;
  transition: opacity 1000ms ease-in-out, -webkit-transform 1500ms linear;
  transition: opacity 1000ms ease-in-out, transform 1500ms linear;
  transition: opacity 1000ms ease-in-out, transform 1500ms linear, -webkit-transform 1500ms linear;
}

.about-me__head-h1.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.about-me-h2__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 150px;
  width: 100%;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 750ms ease-in-out, -webkit-transform 1000ms linear;
  transition: opacity 750ms ease-in-out, -webkit-transform 1000ms linear;
  transition: opacity 750ms ease-in-out, transform 1000ms linear;
  transition: opacity 750ms ease-in-out, transform 1000ms linear, -webkit-transform 1000ms linear;
}

.about-me-h2__outer.show {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.about-me__content__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
  position: relative;
  align-items: center;
}

.smile-emoji {
  cursor: pointer;
  display: inline-block;
  width: 4rem;
  -webkit-transition: -webkit-transform ease-in-out 500ms;
  transition: -webkit-transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
  z-index: 1;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  margin-right: 0.125rem;
  border-top-right-radius: 5px solid blue;
}

.smile-emoji.day {
  border: 5px solid black;
}

.about-me-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.first-letter-large,
.about-me-3 {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 1000ms ease-in-out, -webkit-transform 1000ms linear;
  transition: opacity 1000ms ease-in-out, -webkit-transform 1000ms linear;
  transition: opacity 1000ms ease-in-out, transform 1000ms linear;
  transition: opacity 1000ms ease-in-out, transform 1000ms linear, -webkit-transform 1000ms linear;
}

.about-me-2,
.about-me-4 {
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: opacity 750ms ease-in-out, -webkit-transform 750ms linear;
  transition: opacity 750ms ease-in-out, -webkit-transform 750ms linear;
  transition: opacity 750ms ease-in-out, transform 750ms linear;
  transition: opacity 750ms ease-in-out, transform 750ms linear, -webkit-transform 750ms linear;
}

.first-letter-large.show,
.about-me-2.show,
.about-me-3.show,
.about-me-4.show {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.about-me__content {
  margin: 0 auto;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 100px 0px;
}

.about-me__content h2 {
  font-family: var(--ff-fancy-body-bad-script);
  font-size: 4rem;
  color: var(--primary-color);
}

.about-me__content p {
  font-family: var(--ff-body-poppins);
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: gray;
  text-shadow: 0.5px 0px 0px rgba(255, 255, 255, 0.8);
  margin-top: 1.2rem;
  text-align: justify;
}

.about-me__content .about-me-4 {
  text-align: center;
}

.about-me__content.day h2 {
  color: var(--primary-bg-color);
}

.about-me-emphasise {
  font-weight: 400;
  color: #b4aaaa;
  text-shadow: 0.5px 0px 0px gray;
}

.about-me-emphasise.day {
  color: gray;
  text-shadow: 0.5px 0px 1px gray;
  color: var(--primary-bg-color);
  color: rgba(9, 31, 71, 0.95);
}

.three-dots {
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.about-me__content__write-up .skill-sets {
  margin-top: -2.75rem;
  border: none;
}

.about-me__content__write-up .skill-sets .skill-sets__img {
  border: none;
  z-index: 1;
}

.about-me__content__write-up .skill-sets .skill-sets__img {
  width: 300px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skill-sets__img img {
  -webkit-transition: -webkit-transform ease-in-out 750ms;
  transition: -webkit-transform ease-in-out 750ms;
  transition: transform ease-in-out 750ms;
  transition: transform ease-in-out 750ms, -webkit-transform ease-in-out 750ms;
  border-left: 1px solid white;
  cursor: pointer;
}

.about-me__content__write-up .skill-sets .skill-sets__img img:hover {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}

.skill-sets__img img.day {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  background-color: #fff;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.first-letter-large::first-letter {
  font-size: 2.5em;
  font-weight: 300;
}

.about-me__content__write-up {
  width: 100%;
  min-height: 50vh;
  padding: 0;
}

.about-me__content__write-up p {
  line-height: 1.75rem;
  font-size: 1rem;
}

.skill-sets__img img:nth-child(1) {
  padding: 8.5px 5px;
}

.skill-sets__img img:nth-child(5) {
  padding: 6.3px 5px;
}

.about-me__paragraph {
  margin-top: -0.5rem;
}

@media only screen and (min-width: 600px) {
  header {
    background-color: red;
  }
  .about-me__content {
    padding: 0px;
  }
  .about-me__content__write-up {
    width: 100%;
    min-height: 50vh;
    padding: 0 10%;
  }
  .about-me__content__write-up p {
    line-height: 2.1rem;
  }
  .first-letter-large::first-letter {
    font-size: 5em;
    font-weight: 300;
  }
  .about-me__content__write-up {
    width: 100%;
    min-height: 50vh;
    padding: 0;
  }
  .about-me__content__write-up p {
    line-height: 2rem;
    font-size: 1.25rem;
  }
  .about-me__head h1 {
    font-size: 6rem;
  }
  .smile-emoji {
    width: 4.5rem;
  }
  .about-me__paragraph {
    margin-top: -0.5rem;
  }
}

@media only screen and (min-width: 900px) {
  header {
    background-color: green;
  }
  .contact-me__head h2 {
    font-size: 5rem;
  }
  .about-me__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 70px;
  }
  .about-me__content h2 {
    text-align: center;
    font-size: 5rem;
    color: var(--primary-color);
    padding: 1.45rem 0rem;
  }
  .smile-emoji {
    width: 5.5rem;
  }
  .about-me__content__write-up {
    width: 90%;
    min-height: 50vh;
    padding: 0 10%;
  }
  .about-me__content__write-up p {
    line-height: 2.6rem;
    font-size: 1.5rem;
  }
  .first-letter-large::first-letter {
    font-size: 5em;
    font-weight: 300;
  }
  .about-me__head {
    height: 40vh;
  }
  .about-me__head h1 {
    font-size: 7.5rem;
  }
  .about-me__content__write-up .skill-sets {
    margin-top: -3.65rem;
  }
  .skill-sets__img img:nth-child(1) {
    padding: 10px 5px;
  }
  .skill-sets__img img:nth-child(2),
  .skill-sets__img img:nth-child(3) {
    padding: 5.1px 5px;
  }
  .skill-sets__img img:nth-child(5) {
    padding: 6.5px 5px;
  }
  .about-me__paragraph {
    margin-top: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    background-color: purple;
  }
  .about-me__head {
    height: 40vh;
  }
  .about-me__head h1 {
    font-size: 7.5rem;
  }
  .smile-emoji {
    width: 6rem;
  }
  .about-me__paragraph {
    margin-top: 0rem;
  }
}
