@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --ff-landing-title-bebas: "Bebas Neue", cursive;
  --ff-landing-title-oxanium: "Oxanium", cursive;
  --ff-landing-title-orbitron: "Orbitron", sans-serif;
  --ff-body-palandquin: "Palanquin", sans-serif;
  --ff-body-poppins: "Poppins", sans-serif;
  --ff-body-saira: "Saira Semi Condensed", sans-serif;
  --ff-fancy-body-bad-script: "Bad Script", cursive;
  --ff-fancy-body-courgette: "Courgette", cursive;
  --ff-fancy-body-title: "Cookie", cursive;
  --primary-color: #eeeee4;
  --primary-bg-color: #091f47;
  --hover-effect-color: rgb(180, 164, 164);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}

.landing-container {
  height: calc(100vh - 100px);
  height: calc(100vh - 100px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: var(--primary-bg-color);
  background-color: black;
  z-index: -1;
}

.landing {
  height: calc(100vh - 140px);
  height: calc(100vh - 100px);
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.landing-photo {
  height: 100%;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.landing-photo-2 {
  height: 100%;
  width: 65%;
  position: fixed;
  top: 0;
  right: -65%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 1;
}

.landing-img-container {
  top: 0;
  width: 65vw;
  height: 100%;
}

.landing-img {
  width: 65vw;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #000;
  opacity: 1;
  z-index: -1;
}

.inside-landing-img {
  position: absolute;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 65vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  z-index: 1100;
}

.top-left {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: yellow;
}

.top-right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: blue;
}

.bottom-left {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -ms-grid-column: 2;
  -ms-grid-column-span: -1;
  grid-column: 2/1;
  -ms-grid-row: 2;
  grid-row: 2/2;
  background-color: green;
  display: none;
}

.bottom-right {
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  background-color: purple;
}

header {
  background-color: var(--primary-bg-color);
  background-color: black;
  height: 100px;
  line-height: 100px;
  color: var(--primary-color);
  font-family: var(--ff-landing-title-orbitron);
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
}

.container-nav {
  height: 100px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.logo-container {
  background: transparent;
}

.logo-container img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  background: transparent;
  z-index: 200;
}

.letter {
  border: 1px solid green;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  height: inherit;
  width: 100%;
  position: relative;
  color: white;
  color: black;
  font-family: var(--ff-landing-title-orbitron);
  text-transform: uppercase;
  font-size: 10rem;
  text-shadow: 0px 0px 40px red;
  font-weight: 800;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.letter .o {
  position: inherit;
  z-index: 3;
}

.letter .d {
  position: inherit;
  z-index: 3;
}

.letter .w {
  position: inherit;
  z-index: 2;
}

.write-up {
  color: var(--primary-color);
  color: black;
  text-shadow: 1px 1px 10px #999;
  text-shadow: 1px 1px 10px red;
  line-height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: lowercase;
  font-family: var(--ff-landing-title-orbitron);
  font-weight: 800;
  z-index: 2;
}

.write-up h3 {
  font-size: 4rem;
  letter-spacing: -8px;
}

.write-up h1 {
  font-size: 7.5rem;
  letter-spacing: -10px;
}

.write-up-2 {
  position: absolute;
  text-align: center;
  color: gray;
  color: #b3b0b0;
  font-family: var(--ff-landing-title-orbitron);
  line-height: 50px;
  z-index: 2;
  right: 20px;
  top: -20%;
}

.write-up-2 h1 {
  font-size: 5.5rem;
}

.write-up-2 h3 {
  font-size: 2.5rem;
}

header nav {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform ease-in-out 1000ms;
  transition: -webkit-transform ease-in-out 1000ms;
  transition: transform ease-in-out 1000ms;
  transition: transform ease-in-out 1000ms, -webkit-transform ease-in-out 1000ms;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  margin: 0 7px;
}

header nav ul li:last-child {
  margin-right: 50px;
}

header nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 7.5px;
  -webkit-transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
  color: var(--primary-color);
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
  color: var(--hover-effect-color);
  border: 1px solid var(--hover-effect-color);
  border-color: var(--hover-effect-color);
}

.day-and-dark-mode {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline;
  right: calc(2.5% + 20px);
  -webkit-transition: right ease-in-out 500ms;
  transition: right ease-in-out 500ms;
  z-index: 10;
  border-radius: 50%;
}

.day-and-dark-mode .fa-sharp.fa-solid {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.day-and-dark-mode .fa-moon,
.day-and-dark-mode .fa-sun {
  outline: none;
  cursor: pointer;
  color: #eeeee4;
  -webkit-transition: color ease-in-out 500ms;
  transition: color ease-in-out 500ms;
}

.day-and-dark-mode .fa-moon:hover,
.day-and-dark-mode .fa-sun:hover {
  color: gray;
}

.fa-moon.hide {
  display: none;
}

.fa-sun {
  display: none;
}

.fa-sun.active {
  display: block;
}

.mobile-menu-button-container {
  margin: 0 auto;
  float: right;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  z-index: 1;
}

.mobile-menu-button {
  height: 40px;
  width: 42px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 4px 6.5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: background-color ease-in-out 750ms, -webkit-transform ease-in-out 1000ms;
  transition: background-color ease-in-out 750ms, -webkit-transform ease-in-out 1000ms;
  transition: transform ease-in-out 1000ms, background-color ease-in-out 750ms;
  transition: transform ease-in-out 1000ms, background-color ease-in-out 750ms, -webkit-transform ease-in-out 1000ms;
  z-index: 200;
}

.mobile-menu-button .bars {
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--primary-bg-color);
  background-color: black;
  -webkit-transition: background-color 750ms ease-in-out;
  transition: background-color 750ms ease-in-out;
}

.mobile-menu-button:hover {
  background-color: var(--primary-bg-color);
  background-color: black;
}

.mobile-menu-button:hover .bars {
  background-color: var(--primary-color);
}

.write-up-inside-mobile-menu {
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: inherit;
  background: transparent;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
  z-index: -2;
  width: 100%;
  color: rgba(238, 238, 228, 0.4);
}

.write-up-inside-mobile-menu h3 {
  font-size: 4rem;
}

.write-up-inside-mobile-menu h1 {
  font-size: 6.5rem;
}

.mobile-menu {
  top: 100px;
  top: 0;
  right: 0;
  position: fixed;
  height: calc(100vh - 100px);
  height: 100vh;
  width: 90%;
  background-color: var(--primary-bg-color);
  background-color: black;
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.mobile-menu ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mobile-menu ul li a {
  padding: 4vh 10vw;
}

.mobile-menu.active {
  top: 100px;
  top: 0;
  right: 0;
  position: fixed;
  height: calc(100vh - 100px);
  height: 100vh;
  width: 90%;
  background-color: var(--primary-bg-color);
  background-color: black;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.mobile-menu.active ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mobile-menu.active ul li a {
  padding: 4vh 10vw;
}

.mobile-menu.active ul li:last-child {
  margin-right: 0;
}

.mobile-menu ul li:last-child {
  margin-right: 0;
}

.projects-section {
  min-height: 150vh;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.projects.show {
  background-color: white;
}

.about-me {
  min-height: 150vh;
  width: 100%;
  background-color: red;
  position: relative;
}

.about-me-header {
  width: 100%;
}

.about-me-header,
.projects-header {
  height: 80vh;
  width: 60%;
  background-image: url("../h11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  position: relative;
  right: 0;
}

.about-me-header h1,
.projects-header h1 {
  text-align: center;
  font-family: var(--ff-fancy-body-title);
  text-transform: lowercase;
  font-size: 12rem;
  text-shadow: 0px 0px 40px red;
  font-weight: 800;
  color: black;
  letter-spacing: -10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10vw;
}

.projects-title {
  height: 100vh;
  height: 80vh;
  width: 100%;
  position: relative;
  top: 10vh;
  background-color: blue;
  z-index: 1000;
}

.projects-title h1 {
  font-family: var(--ff-fancy-body-title);
  font-family: var(--ff-body-saira);
  font-family: var(--ff-fancy-body-bad-script);
  font-size: 10rem;
  letter-spacing: -10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects-title.show {
  background-color: red;
}

.projects-container {
  background-color: purple;
  min-height: 100vh;
}

.project-1-contents-img {
  width: 65%;
  background-color: blue;
  overflow: hidden;
}

.project-1-contents-img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  background-color: red;
  padding: 5% 5% 5% 0;
}

.project-1-contents-img-inner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.project-1-contents {
  background-color: pink;
}

.project-1-contents-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-1,
.project-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid white;
}

.project-1-header,
.project-2-header,
.project-3-header {
  background-color: green;
  margin: 20px 0;
}

.project-1-header h1,
.project-2-header h1,
.project-3-header h1 {
  font-family: var(--ff-fancy-body-bad-script);
  font-size: 5rem;
  right: 0;
}

.project-1-contents,
.project-2-contents,
.project-3-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
}

.project-2-contents-img,
.project-3-contents-img {
  width: 55%;
  border: 1px solid blue;
  padding: 40px 40px 40px 0;
  margin-right: 5%;
  background-color: red;
}

.project-2-contents-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  right: 0;
  padding: 40px 0 40px 40px;
  margin-right: 0;
  margin-left: 5%;
}

.project-2-contents-img-inner,
.project-3-contents-img-inner {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../h11.jpg");
  background-size: cover;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.project-2-contents-img-inner {
  background-image: url("../h8.jpg");
}

.project-2-contents-img-inner:hover,
.project-3-contents-img-inner:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-1-contents-write-up,
.project-2-contents-write-up,
.project-3-contents-write-up {
  width: 40%;
}

.project-2-contents-write-up {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.top-skew {
  position: absolute;
  height: 400px;
  width: 100%;
  background-color: blue;
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  top: -300px;
  z-index: 1;
}

.bottom-skew {
  position: absolute;
  height: 400px;
  width: 100%;
  background-color: blue;
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  top: 70vh;
}

footer {
  background-color: black;
  height: 100vh;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  header {
    background-color: red;
  }
  .container-nav {
    width: 95%;
    width: 90%;
  }
  header nav ul li:last-child {
    margin-right: calc(2.5% + 50px);
  }
}

@media only screen and (min-width: 900px) {
  header {
    background-color: green;
  }
  header nav {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    -webkit-transition: -webkit-transform ease-in-out 1000ms;
    transition: -webkit-transform ease-in-out 1000ms;
    transition: transform ease-in-out 1000ms;
    transition: transform ease-in-out 1000ms, -webkit-transform ease-in-out 1000ms;
  }
  .container-nav {
    width: 90%;
    width: 90%;
  }
  header nav ul li:last-child {
    margin-right: 50px;
  }
  .mobile-menu-button {
    -webkit-transform: translateX(calc(100vw + 1000px));
            transform: translateX(calc(100vw + 1000px));
    -webkit-transition: -webkit-transform ease-in-out 1000ms;
    transition: -webkit-transform ease-in-out 1000ms;
    transition: transform ease-in-out 1000ms;
    transition: transform ease-in-out 1000ms, -webkit-transform ease-in-out 1000ms;
  }
  .mobile-menu,
  .mobile-menu.active {
    -webkit-transform: translateX(calc(100vw + 1000px));
            transform: translateX(calc(100vw + 1000px));
    -webkit-transition: -webkit-transform 1000ms ease-in-out;
    transition: -webkit-transform 1000ms ease-in-out;
    transition: transform 1000ms ease-in-out;
    transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  }
  .mobile-menu-button-container {
    z-index: -1;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    background-color: purple;
  }
  .container-nav {
    width: 85%;
    width: 90%;
  }
  header nav ul li:last-child {
    margin-right: 50px;
  }
}
