@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --landing-height: calc(45vh - 100px);
  --hover-effect-color: rgb(180, 164, 164);
  --primary-color: #eeeee4;
  --ff-landing-title-orbitron: 'Orbitron', sans-serif;
  --ff-fancy-body-bad-script: 'Bad Script', cursive;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.container {
  overflow: hidden;
}

header {
  background-color: black;
}

header.day {
  background-color: #CCC;
}

header.day ul li a {
  color: black;
  border: 1.5px solid black;
}

header.day ul li a:hover,
header.day ul li a:active,
header.day ul li a:focus {
  color: #574f4f;
  border: 1.5px solid #574f4f;
}

.landing-container {
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.landing {
  height: var(--landing-height);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.landing.day {
  background-color: white;
}

.landing-project {
  top: calc(45vh - 100px);
  width: 100%;
  height: 55vh;
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  color: white;
  position: relative;
}

.landing-project h3 {
  font-family: var(--ff-landing-title-orbitron);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.landing-project p {
  font-family: var(--ff-fancy-body-bad-script);
  font-weight: 600;
  font-size: 0.8rem;
}

.landing-project::before,
.landing-project::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 1.5px;
  background-color: gray;
  z-index: 3;
  opacity: 0;
}

.landing-project::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.landing-project::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.landing-project::before {
  -webkit-animation: show-after-before 2s 16s forwards;
          animation: show-after-before 2s 16s forwards;
}

.landing-project::after {
  -webkit-animation: show-after-before 2s 16s forwards;
          animation: show-after-before 2s 16s forwards;
}

@-webkit-keyframes show-after-before {
  to {
    opacity: 1;
  }
}

@keyframes show-after-before {
  to {
    opacity: 1;
  }
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  padding: 2rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 2;
  color: gray;
  -webkit-transition: opacity ease-in-out 3000ms, -webkit-transform ease-in-out 750ms;
  transition: opacity ease-in-out 3000ms, -webkit-transform ease-in-out 750ms;
  transition: transform ease-in-out 750ms, opacity ease-in-out 3000ms;
  transition: transform ease-in-out 750ms, opacity ease-in-out 3000ms, -webkit-transform ease-in-out 750ms;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.finger-direction {
  display: inline-block;
}

.top-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.bottom-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2/1;
}

.bottom-right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2/2;
}

.top-left:hover,
.top-right:hover,
.bottom-left:hover,
.bottom-right:hover {
  color: #bebdbd;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.top-left.day,
.top-right.day,
.bottom-left.day,
.bottom-right.day {
  background-color: white;
  color: black;
}

.landing-photo {
  height: 100%;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.landing-img-container {
  top: 0;
  height: 55vh;
}

header {
  z-index: 2;
  background-color: black;
  height: 100px;
  line-height: 100px;
  color: var(--primary-color);
  font-family: var(--ff-landing-title-orbitron);
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  width: 100%;
}

header.fixed {
  position: fixed;
}

.landing-container.fixed {
  margin-top: 100px;
}

.container-nav {
  height: 100px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.logo-container img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  background: transparent;
  z-index: 200;
}

.letter {
  height: inherit;
  width: calc(100vw - 15px);
  position: relative;
  color: white;
  color: black;
  font-family: var(--ff-landing-title-orbitron);
  text-transform: uppercase;
  font-size: 10rem;
  text-shadow: 0px 0px 40px red;
  font-weight: 800;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.letter .o {
  position: inherit;
  z-index: 3;
}

.letter .d {
  position: inherit;
  z-index: 3;
}

.letter .w {
  position: inherit;
  z-index: 2;
}

.write-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 10px red;
  text-transform: lowercase;
  font-family: var(--ff-landing-title-orbitron);
  font-weight: 800;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.write-up h3 {
  font-size: 3rem;
  letter-spacing: -8px;
  text-indent: -8px;
  line-height: 3rem;
}

.write-up h1 {
  font-size: 5rem;
  letter-spacing: -7px;
  text-indent: -7px;
  line-height: 4.5rem;
}

.write-up.resize {
  position: static;
}

header nav {
  -webkit-transform: translateX(calc(100vw + 100px));
          transform: translateX(calc(100vw + 100px));
  -webkit-transition: -webkit-transform ease-in-out 500ms;
  transition: -webkit-transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  margin: 0 7px;
}

header nav ul li:last-child {
  margin-right: 50px;
}

header nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 7.5px;
  -webkit-transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
  color: var(--primary-color);
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
  color: var(--hover-effect-color);
  border: 1px solid var(--hover-effect-color);
  border-color: var(--hover-effect-color);
}

.day-and-dark-mode {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline;
  right: calc(2.5% + 20px);
  -webkit-transition: right ease-in-out 500ms;
  transition: right ease-in-out 500ms;
  z-index: 10;
  border-radius: 50%;
}

.day-and-dark-mode .fa-sharp.fa-solid {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.day-and-dark-mode .fa-moon,
.day-and-dark-mode .fa-sun {
  outline: none;
  cursor: pointer;
  color: #eeeee4;
  -webkit-transition: color ease-in-out 500ms;
  transition: color ease-in-out 500ms;
}

.day-and-dark-mode .fa-moon:hover,
.day-and-dark-mode .fa-sun:hover {
  color: gray;
}

.fa-moon.hide {
  display: none;
}

.fa-sun {
  display: none;
}

.fa-sun.active {
  display: block;
}

.fa-sun.active.day {
  color: black;
}

.mobile-menu-button-container {
  margin: 0 auto;
  float: right;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.mobile-menu-button {
  height: 40px;
  width: 42px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 6.5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: background-color ease-in-out 750ms, -webkit-transform ease-in-out 750ms;
  transition: background-color ease-in-out 750ms, -webkit-transform ease-in-out 750ms;
  transition: transform ease-in-out 750ms, background-color ease-in-out 750ms;
  transition: transform ease-in-out 750ms, background-color ease-in-out 750ms, -webkit-transform ease-in-out 750ms;
  z-index: 200;
}

.mobile-menu-button .bars {
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: black;
  -webkit-transition: background-color 750ms ease-in-out;
  transition: background-color 750ms ease-in-out;
}

.mobile-menu-button:hover {
  background-color: #CCC;
  -webkit-transition: background-color ease-in-out 750ms;
  transition: background-color ease-in-out 750ms;
}

.write-up-inside-mobile-menu {
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  z-index: -2;
  width: calc(100vh - 110px);
  width: 100%;
  color: rgba(128, 128, 128, 0.5);
}

.write-up-inside-mobile-menu h3 {
  font-size: 4.5rem;
  letter-spacing: -6px;
  text-indent: -6px;
  margin-top: -4.5rem;
  margin-top: -2.25rem;
}

.write-up-inside-mobile-menu h1 {
  font-size: 9rem;
  letter-spacing: -8px;
  text-indent: -8px;
}

.write-up-inside-mobile-menu-h {
  text-align: center;
  width: calc(100vh - 110px);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.mobile-menu {
  top: 100px;
  right: 0;
  position: fixed;
  height: calc(100vh - 100px);
  width: 90%;
  border: 1.5px solid gray;
  background-color: black;
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  z-index: 3;
}

.mobile-menu ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mobile-menu ul li a {
  padding: 2vh 10vw;
  padding-bottom: calc(2vh + 2px);
  font-size: 1.2rem;
  color: #eeeee4;
}

.mobile-menu.active {
  top: 100px;
  right: 0;
  position: fixed;
  height: calc(100vh - 100px);
  width: 90%;
  background-color: black;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  z-index: 3;
}

.mobile-menu.active ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mobile-menu.active ul li a {
  padding: 2vh 10vw;
  padding-bottom: calc(2vh + 2px);
}

.mobile-menu.active ul li:last-child {
  margin-right: 0;
}

.mobile-menu ul li:last-child {
  margin-right: 0;
}

.mobile-menu.day {
  background-color: var(--primary-bg-color);
  background-color: #CCC;
}

.mobile-menu.day a {
  color: black;
  border-color: black;
}

.skill-sets {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-sets__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  height: auto;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  min-width: 160px;
}

.skill-sets__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: auto;
  width: 25px;
  border-bottom: 1px solid white;
  padding: 5px;
  border-radius: 6px;
}

@media only screen and (min-width: 600px) {
  header {
    z-index: 2;
  }
  .container-nav {
    width: 95%;
    width: 90%;
  }
  .write-up-inside-mobile-menu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header nav ul li:last-child {
    margin-right: calc(2.5% + 50px);
  }
  /* ======================= LANDING PAGE ============================== */
  .landing-container {
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    background-color: black;
    z-index: 1;
  }
  .landing {
    height: calc(100vh - 100px);
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 1;
    left: 0;
    position: absolute;
  }
  .landing-photo {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .landing-img-container {
    top: 0;
    width: 65vw;
    height: 100%;
  }
  .write-up {
    z-index: 2;
    width: calc(100vh - 110px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
  }
  .write-up h3 {
    font-size: 3rem;
    letter-spacing: -8px;
    text-indent: -8px;
    line-height: 3rem;
  }
  .write-up h1 {
    font-size: 5rem;
    letter-spacing: -10px;
    text-indent: -10px;
    line-height: 5rem;
  }
  .landing-project {
    width: 65vw;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    top: 0;
    position: relative;
    z-index: 2;
    left: 35vw;
  }
  .landing-project::before,
  .landing-project::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100px;
  }
  .landing-project::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .landing-project::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .skill-sets__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    height: auto;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    min-width: 170px;
  }
}

@media only screen and (min-width: 900px) {
  .write-up {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .write-up h3 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .write-up h1 {
    font-size: 7.5rem;
    line-height: 7rem;
  }
  header nav {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    -webkit-transition: -webkit-transform ease-in-out 1000ms;
    transition: -webkit-transform ease-in-out 1000ms;
    transition: transform ease-in-out 1000ms;
    transition: transform ease-in-out 1000ms, -webkit-transform ease-in-out 1000ms;
  }
  .container-nav {
    width: 90%;
  }
  header nav ul li:last-child {
    margin-right: 50px;
  }
  .mobile-menu-button {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: -webkit-transform ease-in-out 500ms;
    transition: -webkit-transform ease-in-out 500ms;
    transition: transform ease-in-out 500ms;
    transition: transform ease-in-out 500ms, -webkit-transform ease-in-out 500ms;
  }
  .mobile-menu,
  .mobile-menu.active {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .mobile-menu-button-container {
    z-index: -1;
  }
  .skill-sets__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    height: auto;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    min-width: 240px;
  }
  .skill-sets__img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    height: auto;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
  }
  .skill-sets__img img:nth-child(1) {
    padding: 9.5px 5px;
  }
  .skill-sets__img img:nth-child(5) {
    padding: 6.6px 5px;
  }
  .skill-sets__img img:nth-child(4) {
    padding: 5.5px 5px;
  }
  .landing-project h3 {
    font-size: 1.2rem;
  }
  .landing-project p {
    font-size: 1.1rem;
  }
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    padding: 12%;
  }
  .landing-project::before,
  .landing-project::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 140px;
  }
  .landing-project::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .landing-project::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media only screen and (min-width: 1200px) {
  .container-nav {
    width: 90%;
  }
  header nav ul li:last-child {
    margin-right: 50px;
  }
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    padding: 20%;
  }
  .landing-project::before,
  .landing-project::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 180px;
  }
  .landing-project::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .landing-project::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}
